:root {
    --text-color: #333;
    --main-color: #FF9494;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--text-color);
    background: #fff;
  }