/* mobile.css */
body {
    background: #fff;
  }
  
  .pc-only {
    display: none;
  }
  
  .container {
    width: 100%;
    outline: 1px solid #ccc;
  }

  .container1 img {
    width: 100%;
  }
  
  #main-header {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
  }

  #gnb {
    position: absolute;
    background: #ddd;
    width: 100%;
    top: 70px;
    padding: 20px 15px;
    display: none;
  }
  
  #gnb.on {
    display: block;
    z-index: 100;
  }

  #gnb > ul > li:not(:last-child) {
    margin-bottom: 10px;
  }

  #gnb > ul > li > a {
    color: var(--text-color);
  }
  
  #gnb > ul > li > a:hover {
    color: var(--main-color);
  }
  
  .right-menu {
    display: flex;
  }
  
  #gnb-toggle-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    border-style: none;
    background-color: #fff;
  }
  
  #gnb-toggle-btn:hover {
    cursor: pointer;
  }
  
  #main-header > h1 img {
    width: 100px;
  }

  .top-btn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .detail-btn {
    display: block;
    margin-top: 20px;
    width: 220px;
    height: 48px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    color: #333;
  }

  main section.container1 .text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  main section.container1 .text-box {
    background: #fff;
  }

  main section.container1 .text-box .detail-btn {
    color: var(--main-color);
  }
  
  #main-footer {
    min-width: 100%;
  }

  #main-footer .container {
    width: 100%;
  }

  #main-footer a {
    color: #333;
  }

  #main-footer .menu-box .footer-menu {
    display: none;
  }

  #main-footer .menu-box .sns-group {
    display: flex;
    padding-top: 50px;
    margin-left: 120px;
  }

  #main-footer .menu-box .sns-group > li {
    margin-left: 15px;
  }

  #main-footer .footer-info {
    font-size: 14px;
    padding: 40px 20px;
  }

  #main-footer .footer-info .footer-logo {
    width: 500px;
    height: 95px;
    padding-right: 55px;
    margin-top: -30px;
  }

  #main-footer .footer-info .footer-info-text p:first-child {
    margin-bottom: 25px;
  }

  #main-footer li span,
  #main-footer .footer-info-text span {
    display: none;
  }

  /* swiper slider */
  .swiper {
    width: 100%;
    height: calc(100vh - 70px);
    background: #ccc;
  }
  
  .swiper .swiper-slide.s1{
    background-image: url(../images/main-visual01.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .swiper .swiper-slide.s2{
    background-image: url(../images/main-visual02.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper .swiper-slide .title {
    transform: translateY(-100px);
  }
  
  .swiper .swiper-slide .title h2 {
    font-size: 36px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .swiper .swiper-slide .title h2 span {
    font-size: 18px;
    font-weight: normal;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    display: none;
  }
  
  .swiper-pagination-bullet {
    border-radius: 0;
    border: 2px solid rgba(255, 255, 255, 0.75);
    width: 14px;
    height: 14px;
    background-color: transparent;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
  }
  
  .swiper-pagination {
    bottom: 40px !important;
  }