/* pc.css */
body {
    font-size: 18px;
  }
  
  /* 모바일 전용 콘텐츠 비표시 */
  .mobile-only {
    display: none;
  }
  
  .container {
    width: 1440px;
    margin: 0 auto;
  }
  
  section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  section p {
    font-size: 20px;
  }
  
  #main-header {
    width: 100%;
    min-width: 1120px;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 99;
  }
  
  #main-header > h1 {
    margin-left: 20px;
  }
  
  #gnb > ul {
    display: flex;
  }
  
  #gnb > ul > li {
    margin-left: 35px;
    margin-right: 35px;
  }
  
  #gnb > ul > li > a {
    color: var(--text-color);
  }
  
  #gnb > ul > li > a:hover {
    color: var(--main-color);
  }
  
  .right-menu {
    display: flex;
  }
  
  #family-link {
    padding-right: 15px;
    margin-right: 40px;
    border-style: none;
    line-height: 30px;
  }
  
  #family-link:hover {
    cursor: pointer;
  }
  
  select, option {
    padding: 10px;
  }
  
  #site-map-btn {
    margin-right: 20px;
    background-color: transparent;
    border-style: none;
  }
  
  #site-map-btn:hover {
    cursor: pointer;
  }
  
  .sitemap-modal.on {
    position: fixed;
    background: #000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sitemap-modal {
    display: none;
  }
  
  #sitemap-modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border-style: none;
  }
  
  #sitemap-modal-close:hover {
    cursor: pointer;
  }
  
  .sitemap-modal > ul {
    display: flex;
  }
  
  .sitemap-modal > ul > li {
    margin-left: 35px;
    margin-right: 35px;
    
  }
  
  .sitemap-modal > ul > li > a {
    font-size: 36px;
    color: #fff;
  }
  
  .sitemap-modal > ul > li > ul {
    margin-top: 40px;
  }
  
  .sitemap-modal > ul > li > ul > li {
    margin-bottom: 1em;
  }
  
  .sitemap-modal > ul > li > ul a {
    color: rgba(255,255,255, 0.8);
  }
  
  
  /* swiper slider */
  .swiper {
    width: 100%;
    min-width: 1120px;
    height: calc(100vh - 70px);
    background: #ccc;
  }
  
  .swiper .swiper-slide.s1{
    background-image: url(../images/main-visual01.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .swiper .swiper-slide.s2{
    background-image: url(../images/main-visual02.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper .swiper-slide .title h2 {
    font-size: 60px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .swiper .swiper-slide .title h2 span {
    font-size: 30px;
    font-weight: normal;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
  }
  
  .swiper-pagination-bullet {
    border-radius: 0;
    border: 2px solid rgba(255, 255, 255, 0.75);
    width: 14px;
    height: 14px;
    background-color: transparent;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
  }
  
  .swiper-pagination {
    bottom: 50px !important;
  }
  
  /* 메인콘텐츠 */
  main {
    min-width: 1120px;
  }
  
  main section.container1 {
    display: flex;
    width: 100%;
  }
  
  main section.container1:nth-child(2n) {
    flex-direction: row-reverse;
  }
  
  main section.container1 > img {
    width: 50%;
  }
  
  main section.container1 .text-box {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .detail-btn {
    display: block;
    margin-top: 40px;
    width: 220px;
    height: 48px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    color: #333;
  }
  
  #about h2 {
    font-size: 48px;
  }
  
  #about {
    width: 100%;
    min-width: 1120px;
    height: 550px;
    background: #ccc;
    background-image: url(../images/content-img04.jpg);
    background-size: cover;
    background-position: center;
  }
  
  #about .container1 {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  #about .text-box {
    /* outline: 1px solid red; */
    text-align: center;
    color: #fff;
  }
  
  #about .detail-btn {
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: auto;
    margin-top: 40px;
  }
  
  .top-btn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #main-footer {
    min-width: 1120px;
  }
  
  #main-footer .container {
    width: 100%;
  }
  
  #main-footer a {
    color: #333;
  }
  
  #main-footer strong {
    color: #000;
  }
  
  #main-footer .menu-box {
    border-bottom: 1px solid #ccc;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
  }
  
  #main-footer .menu-box .footer-menu {
    font-size: 16px;
    display: flex;
  }
  
  #main-footer .menu-box .sns-group {
    display: flex;
  }
  
  #main-footer .menu-box .sns-group > li {
    margin-left: 15px;
  }
  
  #main-footer .footer-info {
    font-size: 14px;
    padding: 40px 20px;
    display: flex;
  }
  
  #main-footer .footer-info .footer-info-text {
    margin-left: 80px;
  }
  
  #main-footer .footer-info .footer-info-text p span,
  #main-footer .footer-menu li span {
    margin: 0 16px;
  }
  
  #main-footer .footer-info .footer-info-text p:first-child {
    margin-bottom: 10px;
  }
  
  #main-footer li span,
  #main-footer .footer-info-text span {
    font-size: 12px;
    color: #ccc;
  }

  #main-footer .footer-info .footer-logo {
    width: 350px;
    height: 70px;
  }